*/build/
*/bin/
.classpath
.project
.settings
.checkstyle
.gradle
.out
.dist
*.ipr
*.iml
*.iws
*.ws~
.idea/
/tags
/build/
.DS_Store
**/.DS_Store
**/out/
/bin/
**/ignored/
src/generated/

# pyatlas stuff
*_pb2.py
*.pyc
pyatlas/dist/
pyatlas/pyatlas.egg-info/
__*venv__
pyatlas/protoc
pyatlas/doc/*.html
pyatlas/LICENSE

