*/build/
*/bin/
.classpath
.project
.settings
.checkstyle
.gradle
.out
.dist
*.ipr
*.iml
*.iws
*.ws~
.idea/
/tags
/build/
.DS_Store
**/.DS_Store
**/out/
/bin/
**/ignored/
src/generated/

# misc python stuff
*_pb2.py
*.pyc
*/dist/
*/pyatlas.egg-info/
__*venv__

