# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: CI Quality Check

on:
  push:
    branches: [ actions-test ]
  pull_request:
    branches: [ actions-test ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

# Setup steps
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1.4.3
      with:
        java-version: 11
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Grant execute permission for Github Actions Workflows
      run: chmod -R ug+x .github/workflow_scripts

# Quality Checks and Tests
   - name: Quality checks (No tests)
     run: ./gradlew jar check -x test -x integrationTest
   - name: Tests
     run: ./gradlew check
   - name: Sonar
     env:
       SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
       SONAR_PR_DECORATION_GITHUB_TOKEN: ${{ secrets.SONAR_PR_DECORATION_GITHUB_TOKEN }}
     run: .github/workflow_scripts/sonar.sh
